* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0f172a;
    color: #fff;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #020617;
}

.logo {
    font-size: 24px;
    color: #38bdf8;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* Hero */
.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero-content h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 25px;
    color: #cbd5f5;
}

.hero-content button {
    padding: 12px 30px;
    font-size: 16px;
    background: #38bdf8;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-content button:hover {
    background: #0ea5e9;
}

/* Features */
.features {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 60px 20px;
    background-color: #020617;
}

.card {
    background: #020617;
    border: 1px solid #1e293b;
    padding: 30px;
    width: 250px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    border-color: #38bdf8;
}

.card h3 {
    margin-bottom: 10px;
    color: #38bdf8;
}

.card p {
    color: #cbd5f5;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #020617;
    color: #94a3b8;
}
